//chakra-ui
import { Box } from '@chakra-ui/react';
//resources
import React from 'react';
import * as Style from './styles';

export const {{pascalCase name}} = () => {
  return (
    <Box {...Style.container}>
      <h1>{{pascalCase name}}</h1>
    </Box>
  );
};

export default {{pascalCase name}};
